<div class="page">
    <app-page-header [title]="pageTitle()">
    </app-page-header>

    <div class="content-card">
        <div class="table-wrap">
            @if (isLoading()) {
            <app-skeleton type="table" [rows]="5"></app-skeleton>
            } @else {
            <table class="emp-table">
                <thead>
                    <tr>
                        <th class="col-name">Name</th>
                        <th>Department</th>
                        <th>Company</th>
                        <th class="col-type">Type</th>
                        <th class="col-action">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let emp of pagedEmployees; trackBy: trackByEmpCode">
                        <td class="col-name">
                            <div class="profile">
                                <img [src]="'https://empimg.oneeclick.co:8048/employeeimage/' + emp.empCode.trim() + '.jpg'"
                                    (error)="onImgError($event)" />
                            </div>
                            <div class="name-block">
                                <div class="fullname">{{ emp.firstName }} {{ emp.lastName }}
                                    <span *ngIf="emp.nickName"> ({{ emp.nickName }})</span>
                                    <!-- <span class="fn">{{ emp.firstName }}</span>
                                    <span class="ln">{{ emp.lastName }}</span>
                                    <span class="nickname" *ngIf="emp.nickName"> ({{ emp.nickName }})</span> -->

                                </div>

                                <div class="code">
                                    {{ emp.empCode }}
                                </div>

                                <div class="position">
                                    {{ emp.position }}
                                </div>
                            </div>
                        </td>

                        <td>{{ emp.department }}</td>
                        <td class="company">{{ emp.company }}</td>

                        <td class="col-type">
                            <span class="badge" [attr.data-type]="emp.type">{{ emp.type }}</span>
                        </td>

                        <td class="col-action">
                            <button class="btn btn-ghost" (click)="onView(emp)">
                                <i class="fa-solid fa-circle-info"></i>Info
                            </button>
                        </td>
                    </tr>

                    <tr *ngIf="employee.length === 0">
                        <td class="empty" colspan="5">ไม่มีข้อมูลพนักงาน</td>
                    </tr>
                </tbody>
            </table>
            <div class="pager">
                <div class="pager-left">
                    <span>แสดง</span>
                    <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
                        <option *ngFor="let s of pageSizeOptions" [ngValue]="s">{{ s }}</option>
                    </select>
                    <span>รายการ/หน้า</span>

                    <span class="muted">
                        ทั้งหมด {{ totalItems }} รายการ • หน้า {{ page }} / {{ totalPages }}
                    </span>
                </div>

                <div class="pager-right">
                    <button class="pbtn" (click)="prevPage()" [disabled]="page === 1">Prev</button>

                    <button class="pbtn" *ngFor="let p of pageNumbers" (click)="setPage(p)" [class.active]="p === page">
                        {{ p }}
                    </button>

                    <button class="pbtn" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
                </div>
            </div>}
        </div>
    </div>

    <!-- ===== View Modal ===== -->

    <nz-modal [(nzVisible)]="isViewOpen" [nzFooter]="null" [nzClosable]="true" [nzCentered]="true" [nzWidth]="560"
        (nzOnCancel)="closeViewModal()" [nzMaskClosable]="false">

        <ng-container *nzModalContent>
            <div *ngIf="selected as emp">

                <div class="card-scene">
                    <div class="card-flip" [class.is-flipped]="isFlipped">

                        <!-- FRONT (ของเดิมคุณ) -->
                        <div class="credit-card face front">
                            <div class="card-top">
                                <div class="profile-fullname">
                                    <div class="chip">
                                        <div class="profile">
                                            <img [src]="'https://empimg.oneeclick.co:8048/employeeimage/' + selected.empCode.trim() + '.jpg'"
                                                (error)="onImgError($event)" />
                                        </div>
                                    </div>

                                    <div>
                                        <div class="value">{{ emp.firstName }} {{ emp.lastName }}
                                            <span *ngIf="emp.nickName"> ({{ emp.nickName }})</span>
                                        </div>
                                        <div class="value">{{ emp.firstNameEng }} {{ emp.lastNameEng }}</div>
                                    </div>
                                </div>

                                <div>
                                    <div class="label">AD User</div>
                                    <div class="value">{{emp.adUser}}</div>
                                </div>
                            </div>

                            <div class="card-middle">
                                <div>
                                    <div class="label">Position</div>
                                    <div class="value">{{ emp.position }}</div>
                                </div>

                                <div>
                                    <div class="label">Department</div>
                                    <div class="value">{{ emp.department }}</div>
                                </div>
                            </div>

                            <div class="card-middle">
                                <div>
                                    <div class="label">Company</div>
                                    <div class="value">{{ emp.company }}</div>
                                </div>

                                <div>
                                    <div class="label">Type</div>
                                    <div class="value">
                                        <div class="badge" [attr.data-type]="emp.type">{{ emp.type }}</div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="emp.lastDate || emp.effectiveDate">
                                <hr>
                                <div class="card-middle">
                                    <div>
                                        <div class="label">Last Date</div>
                                        <div class="value">{{ emp.lastDate }}</div>
                                    </div>

                                    <div>
                                        <div class="label">Effective Date</div>
                                        <div class="value">{{ emp.effectiveDate }} </div>
                                    </div>
                                </div>
                            </div>
                            <button class="flip-btn" (click)="isFlipped = true; $event.stopPropagation()">
                                Flip →
                            </button>
                        </div>

                        <!-- BACK -->
                        <div class="credit-card face back"
                            style="display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="back-content">
                                <div>
                                    <div class="label">Last Date</div>
                                    <nz-date-picker class="input" [(ngModel)]="lastDate" nzFormat="dd/MM/yyyy"
                                        (ngModelChange)="onChange($event)">
                                    </nz-date-picker>
                                </div>

                                <div>
                                    <div class="label">Effective Date</div>
                                    <nz-date-picker class="input" [(ngModel)]="effectiveDate" nzFormat="dd/MM/yyyy">
                                    </nz-date-picker>
                                </div>
                            </div>
                            <div class="modal-actions">
                                <button class="btn btn-ghost" (click)="cancel()">cancel</button>
                                <button class="btn btn-primary" [disabled]="!lastDate || !effectiveDate"
                                    (click)="onConfirmModal()">
                                    ยืนยัน
                                </button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </ng-container>

    </nz-modal>


</div>