<div class="setting-page">
    <app-page-header title="Role Permission Management"></app-page-header>

    <div class="content-card">

        <div class="card-header-title">
            Role & Menu Permission
        </div>

        <div>
            <div class="layout">

                <!-- LEFT SIDEBAR -->
                <div class="sidebar">
                    <ul>
                        <li *ngFor="let menu of menus">

                            <div class="menu-parent">

                                <i *ngIf="menu.iconType === 'fa'" [class]="'fas ' + menu.Icon + ' nav-icon'">
                                </i>
                                <mat-icon *ngIf="menu.iconType === 'material'">
                                    {{ menu.Icon }}
                                </mat-icon>
                                <!-- <mat-icon *ngIf=" menu.Icon">{{ menu.Icon }}</mat-icon> -->
                                {{ menu.Label }}
                            </div>

                            <ul *ngIf="menu.children?.length">
                                <li *ngFor="let child of menu.children"
                                    [class.active]="selectedMenu?.MenuID === child.MenuID" (click)="selectMenu(child)">
                                    {{ child.Label }}
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>

                <!-- RIGHT CONTENT -->
                <div class="content">
                    <ng-container *ngIf="selectedMenu; else empty">

                        <div class="header">
                            <h2>{{ selectedMenu.Label }}</h2>
                            <p>Menu Key: {{ selectedMenu.MenuKey }}</p>
                            <p>Route: {{ selectedMenu.RoutePath }}</p>
                        </div>

                        <!-- 🔽 Permission Table -->
                        <nz-table *ngIf="selectedMenuPermissions.length" #permTable [nzData]="selectedMenuPermissions"
                            [nzBordered]="true" [nzSize]="'small'" nzShowPagination="false" class="permission-table">
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>View</th>
                                    <th>Create</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                    <th>Approve</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of permTable.data">
                                    <td>{{ item.RoleName }}</td>

                                    <td>
                                        <label nz-checkbox [nzChecked]="item.CanView"></label>
                                    </td>

                                    <td>
                                        <label nz-checkbox [nzChecked]="item.CanCreate"></label>
                                    </td>

                                    <td>
                                        <label nz-checkbox [nzChecked]="item.CanUpdate"></label>
                                    </td>

                                    <td>
                                        <label nz-checkbox [nzChecked]="item.CanDelete"></label>
                                    </td>

                                    <td>
                                        <label nz-checkbox [nzChecked]="item.CanApprove"></label>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>

                        <!-- กรณีไม่มี permission -->
                        <div *ngIf="!selectedMenuPermissions.length" class="empty">
                            ไม่มีข้อมูล Permission
                        </div>

                    </ng-container>

                    <ng-template #empty>
                        <div class="empty">กรุณาเลือกเมนู</div>
                    </ng-template>
                </div>

            </div>
        </div>



    </div>
</div>