@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 18px 0 18px;
}

.btn-command {
  // padding: 18px 18px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 12px;
  flex-wrap: wrap;

  button {
    border-radius: 16px;
    padding: 2px 10px;
    cursor: pointer;
    color: var(--text);
  }

  .employeeInfo {
    --btn-border: var(--green);
    --btn-bg: var(--green-light);
  }

  .approve-out {
    --btn-border: var(--orange);
    --btn-bg: var(--orange-light);
  }

  .problem {
    --btn-border: var(--btn-problem-border);
    --btn-bg: var(--btn-problem-bg);
  }

  .repair {
    --btn-border: var(--btn-repair-border);
    --btn-bg: var(--btn-repair-bg);
  }

  .service {
    --btn-border: var(--btn-service-border);
    --btn-bg: var(--btn-service-bg);
  }

  .btn-type {
    border: 1px solid var(--btn-border);
    background: var(--btn-bg);
    transition: 0.2s;
  }

  .btn-type:hover {
    background: color-mix(in srgb, var(--btn-bg), var(--text) 5%);
    transform: translateY(-0.5px);
  }

  .btn-type:active {
    background: color-mix(in srgb, var(--btn-bg), var(--text) 10%);
    transform: translateY(2px);
  }
}

.btn-report {
  @include btn-primary;
}

@media (max-width: 860px) {
  .top-bar {
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
  }
}
