<aside class="sidebar" [class.collapsed]="sidebarService.isCollapsed()">
  <div class="sidebar-scroll">
    <div class="menu-section">
      <h3 class="section-title">Main</h3>
      
      <ul class="nav-list">
        <li class="nav-item" [class.open]="openMenu === 'Dashboards'">
          <div class="nav-link" 
               (click)="toggleMenu('Dashboards')" 
               [class.active]="openMenu === 'Dashboards'">
            <div class="link-content">
              <i class="fas fa-home nav-icon"></i>
              <span class="link-text">Dashboards</span>
              <i class="fas fa-chevron-down arrow-icon"></i>
            </div>
          </div>
          
          <ul class="sub-menu" [class.expanded]="openMenu === 'Dashboards'">
            <li class="sub-item" routerLink="/dashboard/default" routerLinkActive="active">Default</li>
            <li class="sub-item" routerLink="/dashboard/cms" routerLinkActive="active">CMS</li>
            <li class="sub-item" routerLink="/dashboard/e-commerce" routerLinkActive="active">E-commerce</li>
          </ul>
        </li>

        <li class="nav-item" *ngFor="let item of menuItems" [class.open]="openMenu === item.name">
          <div class="nav-link" 
               (click)="toggleMenu(item.name)"
               [class.active]="openMenu === item.name">
            <div class="link-content">
              <i [class]="'fas ' + item.icon + ' nav-icon'"></i>
              <span class="link-text">{{ item.name }}</span>
              <i class="fas fa-chevron-down arrow-icon"></i>
            </div>
          </div>

          <ul class="sub-menu" [class.expanded]="openMenu === item.name">
            <li class="sub-item" *ngFor="let sub of item.subItems" [routerLink]="sub.path" routerLinkActive="active">
              {{ sub.label }}
            </li>
            <ng-container *ngIf="!item.subItems">
              <li class="sub-item">ตัวเลือกที่ 1</li>
              <li class="sub-item">ตัวเลือกที่ 2</li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>

    <div class="menu-section">
        <h3 class="section-title">Docs</h3>
        <ul class="nav-list">
            <li class="nav-item">
                <div class="nav-link">
                    <div class="link-content">
                        <i class="fas fa-book nav-icon"></i>
                        <span class="link-text">คู่มือการใช้งาน</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
  </div>
</aside>