@use '../../../styles/theme' as *;

@mixin allowance-table {
    .modern-table {
        @include modern-table;

        .col-id {
            width: 140px;
        }

        .col-date {
            width: 200px;
        }

        .col-hours {
            width: 200px;
        }

        .col-amount {
            width: 200px;
        }

        .col-status {
            width: 200px;
        }

        .desc-cell {
            min-width: 200px;
        }
    }
}